# DATABASE
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=kollabary-db

# JWT 
JWT_SECRET_KEY=jwtSecretKey
JWT_TOKEN_EXPIRY=1d

# GOOGLE OAUTH SCREEN
GOOGLE_CALLBACK_URL=http://localhost:3000/user-auth/google/callback
GOOGLE_CLIENT_ID=googleClientId
GOOGLE_CLIENT_SECRET=googleClientSecret
GOOGLE_FRONTEND_REDIRECT_LINK=http://localhost:4000/auth-success

# GENERAL
PORT=3000
NODE_ENV=production

# CRYPTO
RESET_TOKEN_STRING=resetTokenString
ENCRYPTION_PASSWORD=encrytionPassword
ENCRYPTION_SALT=encrytionSalt
ENCRYPTION_IV=encrytionIV

# AWS
AWS_REGION=awsRegion
AWS_ACCESS_KEY_ID=awsAccessKeyId
AWS_SECRET_ACCESS_KEY=awsSecretAccessKey
AWS_S3_BUCKET_NAME=awsS3BucketName

# NODE MAILER
SMTP_HOST=smtpHost
SMTP_PORT=454
SMTP_USER=example@gmail.com
SMTP_PASS=smptPass
SMTP_FROM=smptFrom
FRONTEND_URL=http://localhost:3000

# RAZORPAY TEST CREDS
RAZORPAY_KEY_ID=razorpayKeyId
RAZORPAY_KEY_SECRET=razorpayKeySecret
RAZORPAY_WEBHOOK_SECRET=razorpayWebhookSecret

# SWAGGER DOCS CREDS 
SWAGGER_USER=kollabary
SWAGGER_PASSWORD=billionaire@008